img {
    max-width: 100%;
}

.member-profile-logo {
    max-width: 100%;
}

.row.search-result-row {
    border: 1px solid #aaa7;
    padding: 5px;
    margin: 5px auto;
    background-color: #fff;
    border-radius: 4px;
}

.small-grey-italics {
    font-size: small;
    color: rgba(58, 58, 58, 0.6);
    margin-top: 0;
    font-style: italic;
}

/*******************************
CLEAN LOGIN FORM
********************************/
.login-clean {
  background: #f1f7fc;
  padding: 80px 0;
}

.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  /* color: rgb(244,71,107); */
}

.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}

.login-clean form .btn-primary {
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}


.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

